@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    color-scheme: light dark;

    --light-secondary: #d3d3d3;
    --dark-secondary: #5c5c5c;

    --light-third: #bdbdbd;
    --dark-third: #525252;

    --light-color: black;
    --dark-color:  #d1d1d1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(-45deg, #0f0f0f, #1a1a1a, #2b2b2b, #3d3d3d);
    background-size: 300% 300%;
    animation: darkGradientMove 20s ease-in-out infinite;
    height: 100vh;
    margin: 0;
}


@keyframes darkGradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    display: flex;
    align-items: center;
}

img {
    width: 150px;
}

h1 {
    font-size: 80px;
    color: var(--dark-color);
}

a {
    display: inline-block;
    background-color: light-dark(var(--light-secondary), var(--dark-secondary));
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: light-dark(var(--light-color), var(--dark-color));
    transition: 0.2s all ease-in-out;
}

a:hover {
    background-color: light-dark(var(--light-third), var(--dark-third));
    transform: scale(1.1);
}

@media screen and (max-width: 670px) {
    header {
        flex-direction: column;
    }

    h1 {
        font-size: 50px;
        margin-top: 10px;
    }

    img {
        width: 100px;
    }
}